@import url("https://fonts.googleapis.com/css2?family=Metal&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: white;
  --text-color-one: black;
  --border-radius: 10px;
  --margin-top: 20px;
}
html {
  font-size: 62.5%;
  overflow: auto;
}
body {
  font-family: "Poppins", sans-serif;
  position: relative;
}
h1 {
  font-size: 4rem;
}
h2,
h3,
h4,
h5 {
  font-size: 3.5rem;
}
a,
li,
span {
  font-size: 2rem;
}
/* container width */
.contain-width {
  max-width: 1880px;
  margin: 0 auto;
  background: none;
}
.container-width {
  max-width: 1440px;
  margin: 0 auto;
}
/* Grid */
.grid-1x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 70rem;
}

.grid-1x2-one {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 1rem;
}
/* margin top */
.margin-top {
  margin-top: 10px;
}

/* top page */
.top-page {
  background-image: url(/Src/Images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.top-page img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.navigation {
  position: fixed; /* Keeps the navigation bar fixed to the viewport */
  right: 0;
  left: 0;
  top: 0; /* Ensures the bar sticks at the top of the viewport */
  z-index: 1000; /* Keeps it above other elements */
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.nav-bar1 {
  display: flex;
  align-items: baseline;
  width: 300px;
  height: 30px;
}
.nav-bar1 img {
  width: 100px;
  height: 40px;
}
.nav-bar1 > a {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
}

.nav-bar2 {
  display: flex;
  align-items: center;
}
.nav-lists {
  display: flex;
  gap: 9rem;
}
.nav-lists li {
  font-size: 3.5rem;
  list-style-type: none;
}
.nav-links a {
  text-decoration: none;
  color: var(--text-color);
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  text-align: center;
}

.hero-section h1 {
  font-size: 6rem;
  font-weight: bold;
  color: var(--text-color);
  text-transform: capitalize;
  margin-bottom: 20px;
}

.hero-section .dec {
  font-size: 2rem;
  line-height: 2;
  color: var(--text-color);
  max-width: 70rem;
  margin-bottom: 30px;
}

.hero-section .btn a {
  display: inline-block;
  padding: 15px 200px;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  font-size: 2rem;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
.cycle {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  left: 219px;
  top: 854px;
}
.div {
  cursor: pointer;
  color: rgba(217, 217, 217, 0.35);
  text-align: center;
  font-family: "McLaren-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
}
.frame-192 {
  cursor: pointer;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.one {
  background: rgba(217, 217, 217, 0.35);
  border-radius: 50%;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
.two {
  background: #d9d9d9;
  border-radius: 50%;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
.three {
  background: #d9d9d9;
  border-radius: 50%;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
.four {
  background: #d9d9d9;
  border-radius: 50%;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
.five {
  background: #d9d9d9;
  border-radius: 50%;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
.ellipse-11 {
  background: #d9d9d9;
  border-radius: 50%;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
.div2 {
  color: #d9d9d9;
  text-align: left;
  font-family: "Poppin", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  cursor: pointer;
}
/* section two */
.grid-1x2 p {
  font-size: 2rem;
  color: black;
}

.grid-one {
  max-width: 500px;
  margin: 20px 0;
}
.grid-one h5 {
  font-weight: 300;
}

.grid-two {
  margin: 20px 0;
  max-width: 500px;
}

.grid-two h5 {
  font-weight: 300;
}

.text-bottom {
  text-align: center;
}
.text-bottom p {
  font-size: 2rem;
}
.section-two img {
  width: 100%;
  height: 200px;
  margin: 20px 0;
}

/* cours*/
.event-gallery {
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
}

.card {
  text-align: center;
  border-radius: var(--border-radius);
  width: 800px;
  height: 500px;
  box-shadow: 1px 1px 1px rgb(180, 180, 180);
  overflow: hidden;
  position: relative;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.intro {
  height: 200px;
  width: calc(100%);
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background: rgb(255, 255, 255);
  color: var(--text-color-one);
  transition: 0.5s ease-in-out;
}

.card:hover .intro {
  height: 500px;
  background-color: rgba(27, 27, 27, 0.5);
  color: var(--text-color);
}

.intro h1 {
  margin: 10px 0;
  font-size: 2rem;
}

.intro p {
  color: var(--text-color-one);
  font-size: 1.5rem;
  margin: 10px 0;
  transition: opacity 0.3s ease-in-out;
}

.card:hover {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.one-two {
  display: flex;
  align-items: center;
}

.card-one {
  text-align: center;
  border-radius: var(--border-radius);
  width: 375px;
  height: 400px;
  margin: 50px 50px 50px 0;
  box-shadow: 1px 1px 1px rgb(180, 180, 180);
  overflow: hidden;
  position: relative;
}

.card-one img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.intro-one {
  height: 200px;
  width: calc(100%);
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background: rgb(255, 255, 255);
  color: var(--text-color-one);
  transition: 0.5s ease-in-out;
}

.card-one:hover .intro-one {
  height: 400px;
  background-color: rgba(27, 27, 27, 0.5);
  color: var(--text-color);
}

.intro-one h1 {
  margin: 10px 0;
  font-size: 2rem;
}

.intro-one p {
  color: var(--text-color-one);
  font-size: 1.5rem;
  margin: 10px 0;
  transition: opacity 0.3s ease-in-out;
}

.card-one:hover {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.card-two {
  text-align: center;
  border-radius: var(--border-radius);
  width: 375px;
  height: 400px;
  margin: 50px 50px 50px 0;
  box-shadow: 1px 1px 1px rgb(180, 180, 180);
  overflow: hidden;
  position: relative;
}

.card-two img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.intro-two {
  height: 200px;
  width: calc(100%);
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background: rgb(255, 255, 255);
  color: var(--text-color-one);
  transition: 0.5s ease-in-out;
}

.card-two:hover .intro-two {
  height: 400px;
  background-color: rgba(27, 27, 27, 0.5);
  color: var(--text-color);
}

.intro-two h1 {
  margin: 10px 0;
  font-size: 2rem;
}

.intro-two p {
  color: var(--text-color-one);
  font-size: 1.5rem;
  margin: 10px 0;
  transition: opacity 0.3s ease-in-out;
}

.card-two:hover {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.card-three {
  text-align: center;
  border-radius: var(--border-radius);
  width: 800px;
  height: 820px;
  box-shadow: 1px 1px 1px rgb(180, 180, 180);
  overflow: hidden;
  position: relative;
}

.card-three img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.intro-three {
  height: 200px;
  width: calc(100%);
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background: rgb(255, 255, 255);
  color: var(--text-color-one);
  transition: 0.5s ease-in-out;
}

.card-three:hover .intro-three {
  height: 820px;
  background-color: rgba(27, 27, 27, 0.5);
  color: var(--text-color);
}

.intro-three h1 {
  margin: 10px 0;
  font-size: 2rem;
}

.intro-three p {
  color: var(--text-color-one);
  font-size: 1.5rem;
  margin: 10px 0;
  transition: opacity 0.3s ease-in-out;
}

.card-three:hover {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.card-one-one {
  text-align: center;
  border-radius: var(--border-radius);
  width: 540px;
  height: 515px;
  margin: 50px 0;
  box-shadow: 1px 1px 1px rgb(180, 180, 180);
  overflow: hidden;
  position: relative;
}

.card-one-one img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.intro-one-one {
  height: 200px;
  width: calc(100%);
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background: rgb(255, 255, 255);
  color: var(--text-color-one);
  transition: 0.5s ease-in-out;
}

.card-one-one:hover .intro-one-one {
  height: 515px;
  background-color: rgba(27, 27, 27, 0.5);
  color: var(--text-color);
}

.intro-one-one h1 {
  margin: 10px 0;
  font-size: 2rem;
}

.intro-one-one p {
  color: var(--text-color-one);
  font-size: 1.5rem;
  margin: 10px 0;
  transition: opacity 0.3s ease-in-out;
}

.card-one-one:hover {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.card-one-two {
  text-align: center;
  border-radius: var(--border-radius);
  width: 540px;
  height: 600px;
  margin: 50px 0;
  box-shadow: 1px 1px 1px rgb(180, 180, 180);
  overflow: hidden;
  position: relative;
}

.card-one-two img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.intro-one-two {
  height: 200px;
  width: calc(100%);
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background: rgb(255, 255, 255);
  color: var(--text-color-one);
  transition: 0.5s ease-in-out;
}

.card-one-two:hover .intro-one-two {
  height: 600px;
  background-color: rgba(27, 27, 27, 0.5);
  color: var(--text-color);
}

.intro-one-two h1 {
  margin: 10px 0;
  font-size: 2rem;
}

.intro-one-two p {
  color: var(--text-color-one);
  font-size: 1.5rem;
  margin: 10px 0;
  transition: opacity 0.3s ease-in-out;
}

.card-one-two:hover {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.card-one-three {
  text-align: center;
  border-radius: var(--border-radius);
  width: 540px;
  height: 600px;
  margin: 50px 0;
  box-shadow: 1px 1px 1px rgb(180, 180, 180);
  overflow: hidden;
  position: relative;
}

.card-one-three img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.intro-one-three {
  height: 200px;
  width: calc(100%);
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background: rgb(255, 255, 255);
  color: var(--text-color-one);
  transition: 0.5s ease-in-out;
}

.card-one-three:hover .intro-one-three {
  height: 600px;
  background-color: rgba(27, 27, 27, 0.5);
  color: var(--text-color);
}

.intro-one-three h1 {
  margin: 10px 0;
  font-size: 2rem;
}

.intro-one-three p {
  color: var(--text-color-one);
  font-size: 1.5rem;
  margin: 10px 0;
  transition: opacity 0.3s ease-in-out;
}

.card-one-three:hover {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

/* Footer*/

.frame-350 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 1096.52px;
  position: relative;
}
.frame-387 {
  align-self: stretch;
  position: relative;
  flex: 1;
}
.frame-351 {
  height: 703.52px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
}
.image-52 {
  position: absolute;
  width: 100%;
  height: 100vh;
  right: 0px;
  left: 0px;
  bottom: 495px;
  top: -560px;
  object-fit: cover;
}
.frame-319 {
  background: #1a1a1a;
  padding: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.frame-334 {
  display: flex;
  flex-direction: column;
  gap: 55px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 298px;
  position: relative;
}
.events {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 26px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.join-us-for-exciting-ite-events-at-rupp {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-325 {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.vector {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.vector2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.vector3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.group {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
._2024-all-rights-reserved {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-339 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-338 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 229px;
  position: relative;
}
.about-us {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-335 {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._855123456789 {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.nanakh-example-com {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.smt-example-com {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-337 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 350px;
  position: relative;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-336 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-332 {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.enter-your-email-address {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.frame-331 {
  background: #ffffff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 50px;
  position: relative;
}
.smt-example-com2 {
  color: #000000;
  text-align: center;
  font-family: "InriaSans-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: lowercase;
  position: relative;
}
.frame-330 {
  background: #ffffff;
  border-radius: 100px;
  padding: 5px 0px 5px 0px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 287px;
  position: relative;
  overflow: hidden;
}
.email-us {
  color: #000000;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  width: 84px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-349 {
  background: rgba(0, 0, 0, 0.33);
  padding: 10px 60px 10px 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 392.52px;
  top: 0px;
}
.frame-356 {
  display: flex;
  flex-direction: row;
  gap: 310px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-345 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 96px;
  position: relative;
  overflow: hidden;
}
.div3 {
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.div-3-span {
  color: #ffffff;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.div-3-span2 {
  color: #000000;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.yap {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-346 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.image-50 {
  border-radius: 53px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  object-fit: cover;
}
.frame-348 {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.thukuna {
  color: #ffffff;
  text-align: center;
  font-family: "Metal-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.frame-3462 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 96px;
  position: relative;
  overflow: hidden;
}
.div4 {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-3482 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 96px;
  position: relative;
  overflow: hidden;
}
.div-3-span3 {
  color: #ffffff;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.div-3-span4 {
  color: #000000;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.frame-347 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 96px;
  position: relative;
  overflow: hidden;
}
.component-4 {
  flex-shrink: 0;
  width: 300px;
  height: 146px;
  position: relative;
}
.frame-352 {
  background: #0074ff;
  border-radius: 50px;
  padding: 5px 20px 5px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 46%;
  height: 27.4%;
  position: absolute;
  right: 27%;
  left: 27%;
  bottom: 72.6%;
  top: 0%;
}
.feedback {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.frame-354 {
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  top: calc(50% - 151.5px);
}
.star {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 85px;
  height: 17px;
  position: relative;
}
.frame-377 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 17px;
  height: 17px;
  position: relative;
  overflow: visible;
}
.frame-379 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 17px;
  height: 17px;
  position: relative;
  overflow: visible;
}
.frame-376 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 17px;
  height: 17px;
  position: relative;
  overflow: visible;
}
.frame-378 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 17px;
  height: 17px;
  position: relative;
  overflow: visible;
}
.frame-375 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 17px;
  height: 17px;
  position: relative;
  overflow: visible;
}
.inputfield {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.background {
  background: #ffffff;
  border-radius: 4px;
  border-style: solid;
  border-color: #aaaaaa;
  border-width: 1px;
  flex-shrink: 0;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
}
.focus {
  background: #ffffff;
  border-radius: 4px;
  border-style: solid;
  border-color: #0e7afe;
  border-width: 1px;
  flex-shrink: 0;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
}
.textfield {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text {
  color: var(--i9588679193800-placeholdercolor, #303030);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  min-width: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.animated-cursor {
  align-self: stretch;
  flex-shrink: 0;
  width: 1px;
  position: relative;
}
.rectangle {
  background: #ffffff;
  border-radius: 100px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.frame-353 {
  background: #0074ff;
  border-radius: 50px;
  padding: 5px 20px 5px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.submit {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.frame-472 {
  padding: 0px 50px 0px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.rectangle-83 {
  flex-shrink: 0;
  height: 60px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.frame-487 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-486 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 110px;
  position: relative;
}
.logo-2 {
  align-self: stretch;
  flex-shrink: 0;
  height: 45px;
  position: relative;
  object-fit: cover;
}
.group-5 {
  margin: 0 0 0 -12px;
  flex-shrink: 0;
  width: 243px;
  height: 60px;
  position: static;
}
.event-of-ite {
  color: var(--color-grey-87, #dadce0);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 98px;
  top: 0px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-17 {
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-13 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-11 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.home2 {
  color: var(--color-grey-87, #dadce0);
  text-align: left;
  font-family: "InriaSans-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 91px;
  height: auto;
  position: relative;
  overflow: visible;
}
.frame-15 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-22 {
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.frame-16 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-23 {
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 91px;
  height: auto;
  position: relative;
  overflow: visible;
}
.frame-475 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
.frame-474 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  height: 42px;
  position: relative;
}
.frame-14 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 102px;
  height: 2px;
  position: relative;
}
.frame-24 {
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 91px;
  height: auto;
  position: relative;
  overflow: visible;
}
